body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    /* Fondo oscuro */
    color: #fff;
}

.nav-container {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 1000;
    background: transparent;
    /* Fondo transparente */
}

.nav-pills {
    display: flex;
    gap: 20px;
    /* Espaciado entre botones */
}

.nav-pills .nav-link {
    padding: 10px 20px;
    /* Espaciado interno */
    font-size: 16px;
    /* Tamaño de fuente */
    border-radius: 30px;
    /* Bordes redondeados */
    transition: all 0.3s ease;
    /* Transición suave */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.nav-pills .nav-link.active {
    background-color: #007bff;
    /* Azul activo */
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.5);
    /* Sombra */
}

.nav-pills .nav-link:hover {
    background-color: #0056b3;
    /* Azul más oscuro al pasar el mouse */
    color: #fff;
    transform: scale(1.1);
    /* Efecto de agrandado */
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.6);
    /* Sombra adicional */
}

.hero-section {
    background: url('/static/app/img/Deporte.jpeg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.hero-section p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.hero-section .btn-primary {
    font-size: 1.25rem;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.5);
}

.hero-section .btn-primary:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 10px rgba(0, 86, 179, 0.6);
}


/* Sección de tarjetas */

.cards-section {
    padding: 50px 15px;
}

.cards-section h2 {
    color: #007bff;
    text-align: center;
    margin-bottom: 30px;
}

.card {
    border: none;
    background-color: #1c1c1c;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 255, 0, 0.5);
    /* Brillo verde */
}

.card:hover .card-title {
    color: #28a745;
}

.card img {
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

.card-title {
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
    transition: color 0.3s;
}

.card-text {
    font-size: 1.2rem;
    color: #ddd;
}

.card:hover .card-text {
    color: #28a745;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #007bff;
}


/* Testimonios */

.testimonials-section {
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: #fff;
    padding: 50px 0;
}

.testimonials-section h2 {
    margin-bottom: 30px;
    font-size: 2rem;
}

.carousel-item p {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 10px;
}

.carousel-item h5 {
    font-size: 1rem;
    font-weight: bold;
}